<h1>Stupid Coaching</h1>

<div class="card">
  <%= @query %>
  <p> - You </p>
</div>

<div id="coach" class="card">
  <%= @answer %>
  <p> - Your Coach </p>
</div>

<p>
<%= link_to "Ask a new question", ask_path %>
</p>
