<h1>Stupid Coaching</h1>
<h3>Ask your coach anything you want:</h3>
<form action="/answer" method="get">
  <input id="field" type="text" name="question">
  <input id="btn" type="submit" value="Ask!">
</form>

